.texto1{
	font-size:50px;
	font-weight: 300;
}
.h2titulo{
	color:#909090;
	font-size:25px;
	margin-top:60px;
	margin-left:0px;
}
.texto2{
	padding:10px;
}

.textoEspacado{
	padding: 10px;
	color: white;
	
}
.h6texto{
	font-size:15px;
	color:#404040;
}

.cmd{
	color:rgb(255, 255, 255);
	background-color:#000000;
	padding:30px;
	border-radius: 10px;
}

.corverde{
	color:#009000;
}

.espacoesquerda{
	padding-left:20px;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family:sans-serif;
}

header{
	text-align:center;
	margin-top:70px;
	
}

footer {
	background-color: #333;
	color: white;
	padding:50px;
  padding-left: 60px;
  padding-bottom: 190px;
  margin-top:20%;
}

section{
	padding:50px;
}

@media only screen and (max-width: 600px) {
  /* Estilos para telas menores que 600 pixels de largura */


}
