.div{
    color: rgb(9, 247, 167);
    background-color: rgb(190, 190, 190);
    font-size: 50px;
    font-family: Arial, Verdana;
    text-align: center;
    margin-top: 50%;
    margin-left: 50%;
    border-radius: 8px;
    width: 200px;
}

a{
    text-decoration: none;
}

.div:hover{
    padding: 3px;
}

.footer{
    margin-top:300px;
}
