.div{
    color: rgb(9, 247, 167);
    background-color: rgb(190, 190, 190);
    font-size: 105px;
    font-family: Arial, Verdana;
    text-align: center;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    width: auto;
}

a{
    text-decoration: none;
    color: rgb(9, 247, 167);
}

.div:hover{
    margin-top: 147px;
    padding: 3px;
    border-radius: 13px;
    font-size: 106px;
}
